.canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  .mycanvas {
    border: 1px solid;
    border-color: black;
  }
  button {
    display: flex;
    height: 50px;
    width: 50px;
    padding: 1 1 1 1;
    img {
      display: flex;
      position: relative;
      max-width: 80%;
      max-height: 80%;
      margin: auto auto;
    }
  }
}
